{
  "plugins": [
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "new-cap": 0,
    "no-console": 2
  },
  "globals": {
    "settings": true
  }
}